@charset "UTF-8";
/* = reset css
----------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

li { list-style: none; }

main { display: block; }

/* = end reset css
----------------------------------------------- */
/* = Commons
----------------------------------------------- */
html { font-size: 62.5%; font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; line-height: 1.6; color: #4c4d4e; text-rendering: auto; }

@media screen and (max-width: 414px) { html { font-size: 2.77778vw; } }

a { color: #4c4d4e; display: block; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

a:hover { color: #4c4d4e; }

img { width: 100%; height: auto; vertical-align: bottom; }

.shadow { -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 767px) { .shadow { -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); } }

::-moz-selection { background: #a5c7f3; }

::selection { background: #a5c7f3; }

/* = end commons
----------------------------------------------- */
/* = form reset
----------------------------------------------- */
input, button, textarea, select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input:not([type="checkbox"]), button, textarea, select { margin: 0; padding: 0; background: none; border: none; border-radius: 0; outline: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { outline: none; border: 1px solid #aaa; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

/* = end form reset
----------------------------------------------- */
/* = web fonts
----------------------------------------------- */
.font_en { font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; }

/* = end web fonts
----------------------------------------------- */
/* = top and articles style
----------------------------------------------- */
#wrapper { background: #f1f1f1; }

@media screen and (max-width: 767px) { #wrapper { padding-top: 26%; overflow: hidden; } }

.header { border-top: solid 4px #1b5298; padding: 20px 0 0; background: #FFF; position: relative; z-index: 20; }

.header__inner { max-width: 1200px; margin: 0 auto; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }

@media screen and (max-width: 1200px) { .header__inner { max-width: none; max-width: initial; margin-left: 20px; margin-right: 20px; } }

@media screen and (max-width: 767px) { .header__inner { margin-right: 4%; margin-left: 4%; } }

.header--left { width: 21.666%; margin: 0 4% 1% 0; }

@media screen and (max-width: 999px) { .header--left { width: 17%; } }

.header--center { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.header--right { width: 25%; margin: 0 0 1.4% auto; }

@media screen and (max-width: 999px) { .header--right { width: 230px; } }

.header .nav { font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; font-size: 1.9rem; }

@media screen and (max-width: 999px) { .header .nav { font-size: 1.6rem; } }

@media screen and (max-width: 767px) { .header .nav { font-size: 1.4rem; } }

.header .nav .navlist { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.header .nav .navlist__item:not(:last-child) { margin-right: 1.5em; }

@media screen and (max-width: 999px) { .header .nav .navlist__item:not(:last-child) { margin-right: 1em; } }

.header .nav .navlist__item > a { padding: 0 0 18%; }

@media screen and (max-width: 999px) { .header .nav .navlist__item > a { padding-bottom: 13%; } }

.header .nav .navlist__item .child { width: 100%; padding: 1% 0; position: absolute; left: 0; top: 100%; z-index: -1; background: rgba(27, 82, 152, 0.9); font-size: 1.4rem; -webkit-transform: translateY(-10px); transform: translateY(-10px); opacity: 0; visibility: hidden; -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out; }

.header .nav .navlist__item .child a { color: #FFF; padding: 10px 0; }

.header .nav .navlist__item .child__list { width: 900px; margin: 0 auto; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.header .nav .navlist__item .child__item { width: 33.333%; text-align: center; }

.header .nav .navlist__item:hover .child { opacity: 1; visibility: visible; -webkit-transform: translateY(0); transform: translateY(0); }

.header .controller { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }

.header .controller .searchinput { width: 55%; position: relative; border: solid 2px #efefef; border-radius: 50px; }

@media screen and (max-width: 999px) { .header .controller .searchinput { width: 50%; } }

.header .controller .search input { width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.4rem; padding: .3em 1.5em; border-style: none; }

.header .controller .search button { position: absolute; top: 50%; right: .5em; padding: .5em; z-index: 1; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.header .button__mypage { font-size: 1.4rem; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; margin-left: auto; }

.header .button__mypage a { display: block; background: #b9b9b9; color: #FFF; padding: .5em 1.5em; border-radius: 50px; }

/* スマホヘッダー */
.spheader { width: 100%; position: fixed; top: 0; left: 0; z-index: 100; margin-right: 0; margin-left: 0; }

.spheader__inner { padding: 4%; border-top: solid 4px #1b5298; position: relative; background: #FFF; }

.spheader--left { width: 5.4%; position: absolute; top: 50%; left: 4%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 2; }

.spheader--left .menu_trigger { cursor: pointer; }

.spheader--center { width: 37%; margin: 0 auto; }

.spheader--right { width: 15%; position: absolute; top: 50%; right: 4%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 2; }

.spheader--right .controller { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.spheader--right .controller .button__mypage { width: 42%; padding: 0 14% 0 0; }

.spheader--right .controller .button__search { width: 42%; padding: 0 0 0 14%; cursor: pointer; }

.spheader .nav { padding: 2% 0 2% 4%; border-top: solid 1px #CCC; border-bottom: solid 1px #CCC; font-size: 1.3rem; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; overflow: auto; -webkit-overflow-scrolling: touch; position: relative; background: #FFF; }

.spheader .navlist { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; white-space: nowrap; }

.spheader .navlist__item a { padding: .3em 0 .3em 0; margin-right: 2em; }

.spheader .navlist__item.is_active a { position: relative; }

.spheader .navlist__item.is_active a::after { content: ''; width: 100%; height: 2px; background: #1b5298; position: absolute; left: 0; bottom: 0; z-index: 1; }

.spheader .navlist__item.is_current a { position: relative; }

.spheader .navlist__item.is_current a::after { content: ''; width: 100%; height: 2px; background: #1b5298; position: absolute; left: 0; bottom: 0; z-index: 1; }

.spheader .navcontent { width: 100%; position: relative; z-index: -1; }

.spheader .navcontent__list { width: 100%; background: rgba(27, 82, 152, 0.9); font-size: 1.2rem; position: absolute; top: 0; left: 0; z-index: -1; -webkit-transform: translateY(-100%); transform: translateY(-100%); -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out; }

.spheader .navcontent__list.is_active { -webkit-transform: translateY(0); transform: translateY(0); }

.spheader .navcontent__list a { padding: 4%; color: #FFF; border-bottom: solid 1px #FFF; }

.spheader .searchinput { position: relative; }

.spheader .searchinput__inner { width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; top: 0; left: 0; z-index: -1; -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out; padding: 4%; background: rgba(109, 158, 220, 0.9); -webkit-transform: translateY(-100%); transform: translateY(-100%); pointer-events: none; }

.spheader .searchinput__inner.is_active { -webkit-transform: translateY(0); transform: translateY(0); pointer-events: all; }

.spheader .searchinput .search { width: 100%; position: relative; }

.spheader .searchinput .search input { width: 100%; padding: .5em 2.5em .5em 1em; font-size: 1.4rem; -webkit-box-sizing: border-box; box-sizing: border-box; background: #FFF; border-style: none; border-radius: 4px; }

.spheader .searchinput .search button { font-size: 1.2rem; width: 10%; position: absolute; top: 50%; right: 0; z-index: 2; z-index: 2; padding: 2% 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.spheader .sidemenu { width: 85%; height: 100vh; padding-bottom: 80px; -webkit-box-sizing: border-box; box-sizing: border-box; position: fixed; right: 0; top: 0; z-index: 100; background: rgba(27, 82, 152, 0.9); overflow: auto; -webkit-overflow-scrolling: touch; -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out; -webkit-transform: translateX(100%); transform: translateX(100%); }

.spheader .sidemenu.is_active { -webkit-transform: translateX(0); transform: translateX(0); }

.spheader .sidemenu .button__close { padding: 4%; text-align: right; cursor: pointer; border-bottom: solid 1px #FFF; }

.spheader .sidemenu .button__close img { width: 7%; }

.spheader .sidemenu__list { font-size: 1.4rem; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; }

.spheader .sidemenu__list a { color: #FFF; padding: 4%; }

.spheader .sidemenu__item { border-bottom: solid 1px #FFF; }

.spheader .sidemenu__item .child { background: rgba(109, 158, 220, 0.5); }

.spheader .sidemenu__item .child__item:first-child { border-top: solid 1px #FFF; }

.spheader .sidemenu__item .child__item:not(:last-child) { border-bottom: solid 1px #FFF; }

.spheader .sidemenu__item .child.bg--gray { background: rgba(204, 204, 204, 0.5); }

/* スマホヘッダーここまで */
#main { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 1200px; margin: 0 auto; padding: 20px 0; }

@media screen and (max-width: 1200px) { #main { max-width: none; max-width: initial; margin-left: 20px; margin-right: 20px; } }

@media screen and (max-width: 767px) { #main { min-width: 0; min-width: initial; display: block; margin-right: 0; margin-left: 0; } }

#main .sidebar { width: 320px; margin-left: 2%; }

@media screen and (max-width: 999px) { #main .sidebar { width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin: 4% 0 0; } }

@media screen and (max-width: 767px) { #main .sidebar { margin: 4% 4% 0; display: block; } }

#main .sidebar .sidebar__widget { margin-bottom: 6%; border-radius: 8px; overflow: hidden; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 999px) { #main .sidebar .sidebar__widget { width: 49%; } }

@media screen and (max-width: 767px) { #main .sidebar .sidebar__widget { width: auto; width: initial; -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); } }

#main .container { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.breadcrumb { padding: 15px 20px; font-size: 1.2rem; overflow: auto; -webkit-overflow-scrolling: touch; margin: 0; background: transparent; border-radius: 0; }

@media screen and (max-width: 767px) { .breadcrumb { padding: 2% 0 2% 4%; background: #1b5298; font-size: 1.0rem; } }

.breadcrumb + #main { padding-top: 0; }

.breadcrumb__inner { max-width: 1200px; margin: 0 auto; }

.breadcrumb__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; white-space: nowrap; }

@media screen and (max-width: 767px) { .breadcrumb__item a { color: #FFF; } }

.breadcrumb__item:not(:last-child) a { padding-right: 1.5em; margin-right: .5em; position: relative; }

.breadcrumb__item:not(:last-child) a::after { content: '＞'; position: absolute; top: 0; right: 0; z-index: 1; }

.breadcrumb__item.current { font-weight: bold; color: #4c4d4e; }

.breadcrumb__item.current a { pointer-events: none; }

.container { width: auto !important; width: initial !important; padding-left: 0 !important; padding-right: 0 !important; }

@media screen and (max-width: 767px) { .container { padding-left: 4% !important; padding-right: 4% !important; padding-top: 4% !important; } }

.container .rows { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 20px; }

.container .rows .col { background: #FFF; border-radius: 8px; overflow: hidden; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 767px) { .container .rows .col { -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); } }

.container .rows .col .panels__item .txtarea .catename { font-size: 1.2rem; }

.container .rows .col .panels__item .txtarea .article_ttl { font-size: 1.6rem; }

.container .rows--first .col:nth-child(1) { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.container .rows--first .col:nth-child(2) { width: 30%; margin-left: 20px; }

.container .rows--second .col:nth-child(1) { width: 30%; }

.container .rows--second .col:nth-child(2) { overflow: visible; background: transparent; -webkit-box-shadow: none; box-shadow: none; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; margin-left: 20px; }

.container .rows--second .col:nth-child(2) .panels { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.container .rows--second .col:nth-child(2) .panels__item { background: #FFF; border-radius: 8px; overflow: hidden; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 767px) { .container .rows--second .col:nth-child(2) .panels__item { -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); } }

.container .rows--second .col:nth-child(2) .panels__item .txtarea { padding: 12px; }

.container .rows--second .col:nth-child(2) .panels__item .txtarea .article_ttl { min-height: 2.6em; }

.container .rows--second .col:nth-child(2) .panels__item:nth-child(1) { width: 44%; margin-bottom: 2%; }

.container .rows--second .col:nth-child(2) .panels__item:nth-child(1) .ph { padding-top: 49.3%; }

.container .rows--second .col:nth-child(2) .panels__item:nth-child(2) { width: 26%; margin-bottom: 2%; }

.container .rows--second .col:nth-child(2) .panels__item:nth-child(2) .ph { padding-top: 83.3%; }

.container .rows--second .col:nth-child(2) .panels__item:nth-child(2) .ph img { width: auto; height: 100%; }

.container .rows--second .col:nth-child(2) .panels__item:nth-child(3) { width: 26%; margin-bottom: 2%; }

.container .rows--second .col:nth-child(2) .panels__item:nth-child(3) .ph { padding-top: 83.3%; }

.container .rows--second .col:nth-child(2) .panels__item:nth-child(3) .ph img { width: auto; height: 100%; }

.container .rows--second .col:nth-child(2) .panels__item:nth-child(4) { width: 54%; }

.container .rows--second .col:nth-child(2) .panels__item:nth-child(4) .ph { padding-top: 40.3%; }

.container .rows--second .col:nth-child(2) .panels__item:nth-child(5) { width: 44%; }

.container .rows--second .col:nth-child(2) .panels__item:nth-child(5) .ph { padding-top: 49.3%; }

.container .rows--third { background: #FFF; border-radius: 8px; overflow: hidden; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 767px) { .container .rows--third { -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); } }

.container .rows--third .movie__item iframe { border-radius: 0 !important; }

.container .rows--third .txtarea { width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 2%; background: black; background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0))); background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%); position: absolute; left: 0; bottom: 0; z-index: 1; }

.container .rows--third .txtarea .icon_movie { width: 65px; pointer-events: none; }

.container .rows--third .txtarea .catname { font-size: 1.4rem; color: #1b5298; font-weight: bold; }

.container .rows--third .txtarea .article_ttl { font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; font-size: 3.3rem; line-height: 1.3; color: #FFF; -webkit-font-feature-settings: "palt"; font-feature-settings: "palt"; margin-top: .2em; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }

.container .rows--third .txtarea .articles { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; color: #FFF; margin-top: 10px; }

.container .rows--third .txtarea .articles__data { margin-right: 1em; }

.container .rows--third .txtarea .articles__view { padding-left: 1.8em; background: url(../img/icon_eye.png) no-repeat left center; background-size: 15px auto; margin-right: 1em; }

.container .rows--third .txtarea .articles__like { padding-left: 1.6em; background: url(../img/icon_heart.png) no-repeat left center; background-size: 12px auto; }

.container .rows--third .col { -webkit-box-shadow: none; box-shadow: none; border-radius: 0 !important; overflow: visible; }

.container .rows--third .col .listmovie .movie__item { position: relative; }

.container .rows--third .col .listmovie .movie__item > .ph { width: 100%; padding-top: 56.25%; position: relative; overflow: hidden; cursor: pointer; }

.container .rows--third .col .listmovie .movie__item > .ph iframe { width: 100%; height: 100%; border-radius: 8px 8px 0 0; overflow: hidden; position: absolute; top: 0%; left: 0; z-index: 0; }

.container .rows--third .col .listmovie .movie__item > .ph > img { position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 1; }

.container .rows--third .col .listmovie .movie__item .txtarea { -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }

.container .rows--third .col .listmovie .movie__item .txtarea a { color: #FFF; }

.container .rows--third .col .listmovie .movie__item.is_hidden .txtarea { opacity: 0; -webkit-transform: translateY(5px); transform: translateY(5px); visibility: hidden; }

.container .rows--third .col .tab__item { display: none; }

.container .rows--third .col .tab__item.is_active { display: block; }

.container .rows--third .col .tabs.is_current { opacity: .7; }

.container .rows--third .col:nth-child(1) { width: 75%; }

.container .rows--third .col:nth-child(1) .listmovie .movie__item { position: relative; }

.container .rows--third .col:nth-child(1) .listmovie .movie__item a { color: #FFF; }

.container .rows--third .col:nth-child(2) { width: 25%; }

.container .rows--third .col:nth-child(2) .listmovie .movie__item .icon_movie { width: 30px; position: absolute; top: 4%; left: 4%; z-index: 11; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; pointer-events: none; }

.container .rows--third .col:nth-child(2) .listmovie .movie__item.is_hidden .icon_movie { -webkit-transform: translateY(-5px); transform: translateY(-5px); opacity: 0; visibility: hidden; }

.container .rows--third .col:nth-child(2) .listmovie .movie__item .txtarea .article_ttl { font-size: 1.6rem; }

.container .rows--third .col:nth-child(2) .listmovie .movie__item .txtarea .articles { margin-top: 5px; }

.container .rows--fourth { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.container .rows--fourth .card__default { -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); margin-bottom: 1.4%; }

@media screen and (max-width: 767px) { .container .rows--fourth .card__default { -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); } }

.container .rows--fourth .card__default:nth-child(1) { width: 30.067%; }

.container .rows--fourth .card__default:nth-child(1) .ph { padding-top: 49.3%; }

.container .rows--fourth .card__default:nth-child(2) { width: 36.9%; }

.container .rows--fourth .card__default:nth-child(2) .ph { padding-top: 40.3%; }

.container .rows--fourth .card__default:nth-child(3) { width: 30.067%; }

.container .rows--fourth .card__default:nth-child(3) .ph { padding-top: 49.3%; }

.container .rows--fourth .card__default:nth-child(4) { width: 17.766%; }

.container .rows--fourth .card__default:nth-child(4) .ph { padding-top: 83.3%; }

.container .rows--fourth .card__default:nth-child(4) .ph img { width: auto; height: 100%; }

.container .rows--fourth .card__default:nth-child(5) { width: 17.766%; }

.container .rows--fourth .card__default:nth-child(5) .ph { padding-top: 83.3%; }

.container .rows--fourth .card__default:nth-child(5) .ph img { width: auto; height: 100%; }

.container .rows--fourth .card__default:nth-child(6) { width: 30.067%; }

.container .rows--fourth .card__default:nth-child(6) .ph { padding-top: 49.3%; }

.container .rows--fourth .card__default:nth-child(7) { width: 30.067%; }

.container .rows--fourth .card__default:nth-child(7) .ph { padding-top: 49.3%; }

.container .rows--fourth .card__default:nth-child(8) { width: 30.067%; }

.container .rows--fourth .card__default:nth-child(8) .ph { padding-top: 49.3%; }

.container .rows--fourth .card__default:nth-child(9) { width: 30.067%; }

.container .rows--fourth .card__default:nth-child(9) .ph { padding-top: 49.3%; }

.container .rows--fourth .card__default:nth-child(10) { width: 36.9%; }

.container .rows--fourth .card__default:nth-child(10) .ph { padding-top: 40.3%; }

.container .rows--fourth .card__default .txtarea { padding: 12px; }

.container .rows--fourth .card__default .txtarea .catname { font-size: 1.2rem; }

.container .rows--fourth .card__default .txtarea .article_ttl { font-size: 1.8rem; min-height: 2.6em; }

.container > .card__default { margin-bottom: 2%; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 767px) { .container > .card__default { -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); } }

@media screen and (max-width: 767px) { .container > .card__default { margin-bottom: 4%; }
  .container > .card__default .txtarea { padding: 4%; }
  .container > .card__default .txtarea .catname { font-size: 1.1rem; }
  .container > .card__default .txtarea .article_ttl { font-size: 1.6rem; margin-top: .3em; }
  .container > .card__default .txtarea .articles { margin-top: .5em; } }

.container .archive__ttl { font-size: 1.2rem; font-weight: bold; background: #1b5298; color: #FFF; padding: 2% 4%; border-radius: 8px; margin-bottom: 4%; }

.container .archivelist { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media screen and (max-width: 767px) { .container .archivelist { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; } }

.container .archivelist .card__default { width: 32%; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); margin-bottom: 2%; }

@media screen and (max-width: 767px) { .container .archivelist .card__default { -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); } }

@media screen and (max-width: 767px) { .container .archivelist .card__default { width: 48%; margin-bottom: 4%; } }

.container .archivelist .card__default:not(:nth-child(3n)) { margin-right: 2%; }

@media screen and (max-width: 767px) { .container .archivelist .card__default:not(:nth-child(3n)) { margin-right: 0%; } }

.container .archivelist .card__default .txtarea { padding: 10px; }

@media screen and (max-width: 767px) { .container .archivelist .card__default .txtarea { padding: 6%; } }

.container .archivelist .card__default .txtarea .catname { font-size: 1.2rem; }

@media screen and (max-width: 767px) { .container .archivelist .card__default .txtarea .catname { font-size: 1.1rem; } }

.container .archivelist .card__default .txtarea .article_ttl { font-size: 1.8rem; }

@media screen and (max-width: 767px) { .container .archivelist .card__default .txtarea .article_ttl { font-size: 1.4rem; margin-top: .3em; } }

@media screen and (max-width: 767px) { .container .archivelist .card__default .txtarea .articles { margin-top: .5em; line-height: 1.2; font-size: .8rem; }
  .container .archivelist .card__default .txtarea .articles__data { margin-right: .5em; }
  .container .archivelist .card__default .txtarea .articles__view { margin-right: .5em; } }

@media screen and (max-width: 767px) { .container .archivelist .card__default:nth-child(1), .container .archivelist .card__default:nth-child(6) { width: 100%; }
  .container .archivelist .card__default:nth-child(1) .txtarea, .container .archivelist .card__default:nth-child(6) .txtarea { padding: 4%; } }

@media screen and (max-width: 767px) { .container .archivelist.type__ranking .card__default { position: relative; counter-increment: order; }
  .container .archivelist.type__ranking .card__default::before { content: counter(order); position: absolute; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 20px; height: 20px; border-radius: 50%; left: 3%; top: 3%; z-index: 10; font-size: 12px; font-size: 1.2rem; background-color: #1b5298; color: #fff; font-weight: bold; }
  .container .archivelist.type__ranking .card__default:nth-child(1)::before { background-color: #cfa972; }
  .container .archivelist.type__ranking .card__default:nth-child(2)::before { background-color: #a0a0a0; }
  .container .archivelist.type__ranking .card__default:nth-child(3)::before { background-color: #9b6a34; } }

/* スマホトップ */
.spcontainer .card__default .txtarea { padding: 4%; }

.spcontainer .card__default .txtarea .catname { font-size: 1.2rem; }

.spcontainer .card__default .txtarea .article_ttl { font-size: 1.6rem; margin-top: .4em; }

.spcontainer .card__default .txtarea .articles { margin-top: 1em; }

.spcontainer .mainslide { margin: 0 4%; }

.spcontainer .mainslide .swiper-wrapper { border-radius: 8px; overflow: visible; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 767px) { .spcontainer .mainslide .swiper-wrapper { -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); } }

.spcontainer .mainslide .swiper-container { border-radius: 8px; overflow: visible; padding-bottom: 8%; }

.spcontainer .mainslide .swiper-pagination-bullet-active { background: #1b5298; }

.spcontainer .mainslide .card__default .txtarea .article_ttl { -webkit-line-clamp: 1; }

.spcontainer .tab__head { border-bottom: solid 2px #1b5298; }

.spcontainer .tab__list { margin: 4% 4% 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; border-radius: 8px 8px 0 0; border-top: solid 2px #1b5298; border-left: solid 2px #1b5298; border-right: solid 2px #1b5298; }

.spcontainer .tab__item { text-align: center; font-size: 1.2rem; font-weight: bold; width: 33.333%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1em 0; color: #1b5298; cursor: pointer; }

.spcontainer .tab__item:nth-child(2) { border-left: solid 1px #1b5298; border-right: solid 1px #1b5298; }

.spcontainer .tab__item.is_current { background: #1b5298; color: #FFF; }

.spcontainer .tab__body { position: relative; }

.spcontainer .tab__content { margin: 4%; -webkit-transition: opacity .4s linear; transition: opacity .4s linear; opacity: 0; pointer-events: none; display: none; }

.spcontainer .tab__content.is_show { opacity: 1; pointer-events: all; display: block; }

.spcontainer .tab__content .article__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.spcontainer .tab__content .article__list.type__ranking .article__item { position: relative; counter-increment: order; }

.spcontainer .tab__content .article__list.type__ranking .article__item::before { content: counter(order); position: absolute; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 20px; height: 20px; border-radius: 50%; left: 0; top: 0; -webkit-transform: translate(-30%, -30%); transform: translate(-30%, -30%); z-index: 10; font-size: 12px; font-size: 1.2rem; background-color: #1b5298; color: #fff; font-weight: bold; }

.spcontainer .tab__content .article__list.type__ranking .article__item:nth-child(1)::before { background-color: #cfa972; }

.spcontainer .tab__content .article__list.type__ranking .article__item:nth-child(2)::before { background-color: #a0a0a0; }

.spcontainer .tab__content .article__list.type__ranking .article__item:nth-child(3)::before { background-color: #9b6a34; }

.spcontainer .tab__content .article__item { width: 48%; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); background: #FFF; border-radius: 8px; margin-bottom: 4%; }

@media screen and (max-width: 767px) { .spcontainer .tab__content .article__item { -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); } }

.spcontainer .tab__content .article__item .card__default .txtarea { padding: 6%; }

.spcontainer .tab__content .article__item .card__default .txtarea .catname { font-size: 1.1rem; }

.spcontainer .tab__content .article__item .card__default .txtarea .article_ttl { font-size: 1.2rem; }

.spcontainer .tab__content .article__item .card__default .txtarea .articles { margin-top: .5em; line-height: 1.2; font-size: .8rem; }

.spcontainer .tab__content .article__item .card__default .txtarea .articles__data { margin-right: .5em; }

.spcontainer .tab__content .article__item .card__default .txtarea .articles__view { margin-right: .5em; }

/* スマホトップここまで */
.button__more { font-size: 1.4rem; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; width: 60%; margin: 6% auto; text-align: center; }

.button__more a { display: block; border: solid 2px #1b5298; padding: 1em 0; color: #1b5298; position: relative; }

.button__more a::after { content: ''; width: 7px; height: 13px; background: url(../img/arrow_right.png) no-repeat center; background-size: auto 100%; position: absolute; top: 50%; right: 6%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 1; }

.card__default { border-radius: 8px; overflow: hidden; background: #FFF; position: relative; }

.card__default > a { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 10; }

.card__default .ph { width: 100%; padding-top: 50%; position: relative; border-radius: 8px 8px 0 0; overflow: hidden; }

.card__default .ph img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; }

.card__default .movie { width: 100%; padding-top: 56.25%; position: relative; border-radius: 8px 8px 0 0; overflow: hidden; -webkit-appearance: none; z-index: 2; }

.card__default .movie iframe { width: 100%; height: 100%; border-radius: 8px 8px 0 0; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 1; -webkit-appearance: none; }

.card__default .txtarea { padding: 2%; }

.card__default .txtarea .catname { font-size: 1.4rem; color: #1b5298; font-weight: bold; }

.card__default .txtarea .article_ttl { font-size: 3.3rem; font-weight: bold; line-height: 1.3; -webkit-font-feature-settings: "palt"; font-feature-settings: "palt"; margin-top: .2em; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }

.card__default .txtarea .articles { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; color: #a1a1a1; margin-top: 15px; }

.card__default .txtarea .articles__data { margin-right: 1em; }

.card__default .txtarea .articles__view { padding-left: 1.8em; background: url(../img/icon_eye.png) no-repeat left center; background-size: 15px auto; margin-right: 1em; }

.card__default .txtarea .articles__like { padding-left: 1.6em; background: url(../img/icon_heart.png) no-repeat left center; background-size: 12px auto; }

.card__list { padding-bottom: 6%; background: #FFF; }

.card__list .card_ttl { font-size: 1.6rem; font-weight: bold; text-align: center; background: #1b5298; padding: 2% 4%; color: #FFF; margin-bottom: 6%; }

.card__list .cardlist__item { margin: 6% 4%; }

.card__list .cardlist__item:last-child { margin-bottom: 0; }

.card__list .cardlist__item a { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }

.card__list .cardlist__item .ph { width: 40%; padding-top: 25%; position: relative; overflow: hidden; margin-right: 4%; }

.card__list .cardlist__item .ph img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; }

.card__list .cardlist__item .txtarea { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.card__list .cardlist__item .txtarea .catename { font-size: 1.2rem; color: #1b5298; font-weight: bold; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; }

.card__list .cardlist__item .txtarea .article_ttl { margin-top: 4%; font-size: 1.3rem; font-weight: bold; line-height: 1.3; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }

.card__list .cardlist__item .articles { margin-top: .5em; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; color: #a1a1a1; }

@media screen and (max-width: 767px) { .card__list .cardlist__item .articles { margin-top: 2%; font-size: 1.0rem; margin-bottom: 3%; } }

.card__list .cardlist__item .articles__data { margin-right: 1em; }

.card__list .cardlist__item .articles__view { padding-left: 1.8em; background: url(../img/icon_eye.png) no-repeat left center; background-size: 15px auto; margin-right: 1em; }

.card__list .cardlist__item .articles__like { padding-left: 1.6em; background: url(../img/icon_heart.png) no-repeat left center; background-size: 12px auto; }

.card__list.type__ranking .cardlist__item { position: relative; counter-increment: order; }

.card__list.type__ranking .cardlist__item::before { content: counter(order); position: absolute; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 20px; height: 20px; border-radius: 50%; left: 0; top: 0; -webkit-transform: translate(-30%, -30%); transform: translate(-30%, -30%); z-index: 10; font-size: 12px; font-size: 1.2rem; background-color: #1b5298; color: #fff; font-weight: bold; }

.card__list.type__ranking .cardlist__item:nth-child(1)::before { background-color: #cfa972; }

.card__list.type__ranking .cardlist__item:nth-child(2)::before { background-color: #a0a0a0; }

.card__list.type__ranking .cardlist__item:nth-child(3)::before { background-color: #9b6a34; }

.mod { margin: 8% 0; padding: 8% 0; border-top: solid 3px #1b5298; border-bottom: solid 3px #1b5298; }

.mod__inner { margin: 0 4%; }

.mod__hl { font-size: 1.2rem; text-align: center; font-weight: bold; margin-bottom: 4%; color: #1b5298; }

.mod .card__default:not(:last-child) { margin-bottom: 4%; }

.pagination { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; line-height: 1; margin: 2% auto; font-size: 1.4rem; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; }

@media screen and (max-width: 767px) { .pagination { margin: 4% 0 8%; } }

.pagination li { padding: 5px; }

.pagination li.disabled { opacity: .5; pointer-events: none; }

.pagination li.disabled a { -webkit-box-shadow: none; box-shadow: none; }

.pagination li a { width: 30px; height: 30px; border-radius: 50% !important; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-transition: all 0.5s; transition: all 0.5s; background-color: #fff; color: #000; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 767px) { .pagination li a { -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); } }

.pagination li.active a { background: #1b5298; border-color: #1b5298; color: #FFF; }

.article { font-size: 1.4rem; line-height: 1.7; background: #FFF; padding: 3% 4%; border-radius: 8px; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 767px) { .article { -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); } }

@media screen and (max-width: 767px) { .article { padding: 5% 4%; } }

.article__header { margin-bottom: 4%; }

.article__header .catname { font-size: 1.8rem; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; }

@media screen and (max-width: 767px) { .article__header .catname { font-size: 1.1rem; } }

.article__header .catname a { display: inline-block; padding: .1em 1em; background: #1b5298; border-radius: 50px; color: #FFF; }

@media screen and (max-width: 767px) { .article__header .catname a { padding: 0; background: transparent; color: #1b5298; } }

.article__header .catedescription { margin-top: 1%; font-size: 1.1rem; }

@media screen and (max-width: 767px) { .article__header .catedescription { font-size: 1.0rem; } }

.article__header .article__ttl { font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; font-size: 3.3rem; line-height: 1.3; -webkit-font-feature-settings: "palt"; font-feature-settings: "palt"; margin-top: .7%; }

@media screen and (max-width: 767px) { .article__header .article__ttl { font-size: 1.6rem; margin-top: 6%; } }

.article__header .articles { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; font-weight: normal; margin-top: .7%; }

@media screen and (max-width: 767px) { .article__header .articles { margin-top: 2%; font-size: 1.0rem; margin-bottom: 3%; } }

.article__header .articles__data { margin-right: 1em; }

.article__header .articles__view { padding-left: 1.8em; background: url(../img/icon_eye.png) no-repeat left center; background-size: 15px auto; margin-right: 1em; }

.article__header .articles__like { padding-left: 1.6em; background: url(../img/icon_heart.png) no-repeat left center; background-size: 12px auto; }

.article__visual { margin-top: 1%; }

@media screen and (max-width: 767px) { .article__visual { margin-top: 4%; } }

.article__body a { display: inline; }

.article__body .thumb_box { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-top: 2%; }

@media screen and (max-width: 767px) { .article__body .thumb_box { margin-top: 4%; font-size: 1.2rem; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; } }

.article__body .thumb_box .ph { width: 80px; height: 80px; position: relative; border-radius: 50%; overflow: hidden; margin-right: 1em; }

@media screen and (max-width: 767px) { .article__body .thumb_box .ph { width: 60px; height: 60px; } }

.article__body .thumb_box .ph img { position: absolute; top: 0; left: 0; z-index: 1; }

.article__body .thumb_box .txt_box { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.article__body h2 { font-size: 2.1rem; margin-top: 4%; }

@media screen and (max-width: 767px) { .article__body h2 { font-size: 1.6rem; margin-top: 6%; line-height: 1.4; } }

.article__body h3 { font-size: 1.4rem; font-weight: bold; margin-top: 4%; }

@media screen and (max-width: 767px) { .article__body h3 { line-height: 1.4; } }

.article__body .comment_box { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: 4%; }

.article__body .comment_box .name { width: 8%; font-weight: bold; margin-right: 2%; }

@media screen and (max-width: 767px) { .article__body .comment_box .name { width: 15%; } }

.article__body .comment_box .txt { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.article__body > p { margin-top: 2%; line-height: 1.9; }

@media screen and (max-width: 767px) { .article__body > p { margin-top: 4%; } }

.article__body .img_box { margin-top: 2%; }

@media screen and (max-width: 767px) { .article__body .img_box { margin-top: 4%; } }

.article__body .cite { font-size: 1.3rem; line-height: 1.4; color: #999; margin-top: 1%; }

@media screen and (max-width: 767px) { .article__body .cite { font-size: 1.0rem; } }

.footer { background: #FFF; margin-top: 2%; padding: 0; }

.footer__inner { max-width: 1200px; margin: 0 auto; padding: 3% 0 2%; }

@media screen and (max-width: 1200px) { .footer__inner { max-width: none; max-width: initial; margin-left: 20px; margin-right: 20px; } }

@media screen and (max-width: 767px) { .footer__inner { margin-right: 4%; margin-left: 4%; } }

.footer .links { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; font-size: 1.2rem; }

.footer .links a { color: #505152; }

.footer .links a[target="_blank"]::after { display: none; }

.footer .links__item { margin-right: 6%; }

.footer .links__item .child { margin-top: 2em; line-height: 1.3; font-weight: normal; }

.footer .links__item .child__item { margin-bottom: .5em; }

.footer .links .item--logo { width: 5%; margin-right: 6%; }

.footer .copy { background: #1b5298; color: #FFF; padding: 1% 0; text-align: right; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; font-weight: normal; }

@media screen and (max-width: 767px) { .footer .copy { padding: 2% 4%; font-size: 1.0rem; } }

.footer .copy__inner { max-width: 1200px; margin: 0 auto; }

/* スマホフッター */
.pagetop { width: 45px; position: fixed; right: 20px; bottom: 20px; z-index: 10; display: none; }

@media screen and (max-width: 767px) { .pagetop { right: 2%; bottom: 2%; } }

.spfooter { background: #f8f8f8; padding: 8% 0 0; }

.spfooter .ftr__logo { width: 14%; margin: 0 auto; }

.spfooter .ftr__logo a[target="_blank"]::after { content: none; }

.spfooter .copy { margin: 8% 0 0; background: #1b5298; padding: 2% 4%; font-family: 'Didact Gothic', sans-serif; letter-spacing: .09em; font-weight: bold; font-size: .8rem; color: #FFF; text-align: center; }

/* スマホフッターここまで */
