//- ----------------------------------------------------------------------------
- var site_name = "記事詳細"
- var site_url = "https://XXX.jp/"
- var site_domain = "https://XXX.jp/"
//- ----------------------------------------------------------------------------
//- <head>情報
- var head_title = site_name
- var head_meta_viewport = "width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no"
- var head_meta_description = "これはデフォルトのスクリプション"
//- ----------------------------------------------------------------------------
//- <link>
- var head_link_canonical = site_url
- var head_link_prev = ""
- var head_link_next = ""
//- ----------------------------------------------------------------------------
//- Facebook Open Graph
- var head_meta_og_site_name = site_name
- var head_meta_og_url = site_url
- var head_meta_og_title = head_title
- var head_meta_og_description = head_meta_description
- var head_meta_og_type = "article"
- var head_meta_og_image = "https://XXX.jp/asset/img/ogp.png"
- var head_meta_og_image_width = "1200"
- var head_meta_og_image_height = "630"
//- ----------------------------------------------------------------------------
//- Twitter
- var head_meta_twitter_card = "summary_large_image"
- var head_meta_twitter_site = "@twitter_name"
//- ----------------------------------------------------------------------------
//- SNSボタンの中身
- var sns_btn_twitter = ""
- var sns_btn_fb = ""
- var sns_btn_line = ""
//- ページ判定（自由記述）
- var page = "article";

doctype
html(lang="ja")
  head
    include ./_inc/html_head
    include ./_inc/link_css
  body
    #wrapper
      include ./_inc/header
      .breadcrumb
        .breadcrumb__inner
          ul.breadcrumb__list
            li.breadcrumb__item
              a(href="/") トップ
            li.breadcrumb__item
              a(href="/") アーカイブタイトル
            li.breadcrumb__item.current
              a(href="/") 記事タイトル
      main#main
        .container
          article.article
            .article__header
              .catname
                a(href="") SHARE CONNECTION
              .catedescription 社員同士の共通している趣味や話題などの「つながり」を「シェア」し「発信」する。そこから生まれる新しいコネクション。
                br
                | それが、シェアコネクション！第1回目は「サッカー好き社員」をシェアします！
              h1.article__ttl #1サッカー好きをシェア! あの時があったからいまの自分がいる。
              .articles
                .articles__data 2019/11/11
                .articles__view 1,000
                .articles__like 2,800
              .article__visual
                img(data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
            .article__body
              .thumb_box
                .ph
                  img(data-original="/asset/img/dummy/AdobeStock_241368275_Preview_sq.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                p.txt_box
                  strong 石原良平さん（はたらくよろこび研究所）
                  br
                  | 大の鹿島ファン。試合観戦の際、熱すぎて「石原君、落ち着いて」と井澤さんになだめられたことも。好きな背番号は14。
              .thumb_box
                .ph
                  img(data-original="/asset/img/dummy/AdobeStock_299368979_Preview_sq.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                p.txt_box
                  strong 石原良平さん（はたらくよろこび研究所）
                  br
                  | 大の鹿島ファン。試合観戦の際、熱すぎて「石原君、落ち着いて」と井澤さんになだめられたことも。好きな背番号は14。
              h2 あの時があったからいまの自分がいる。サッカーとの出会い
              h3 ――サッカーを好きになったきっかけを教えてください
              .comment_box
                .name 三橋
                p.txt 私は3つ上の兄がサッカーをやっていて、その影響が強かったです。毎回試合に見に行ってたりしてて、自然に自分もサッカーやるのかなって思ってました。中学まではサッカーはしてなくて、高校から社会人2年目までやってました。
              .comment_box
                .name 三橋
                p.txt 私は3つ上の兄がサッカーをやっていて、その影響が強かったです。毎回試合に見に行ってたりしてて、自然に自分もサッカーやるのかなって思ってました。中学まではサッカーはしてなくて、高校から社会人2年目までやってました。
              .img_box
                img(data-original="/asset/img/dummy/AdobeStock_269145039_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              p.txt あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
                br
                | 　またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。
            ul.pagination
              li.prev.disabled
                a(href="#", rel="prev")
                  span.fa.fa-angle-double-left
              li.page.active
                a(href="/") 1
              li.page
                a(href="/?page=2") 2
              li.page
                a(href="/?page=3") 3
              li.page.gap.disabled
                a(href="#", onclick="return false;") …
              li.next_page
                a(href="/?page=2", rel="next")
                  span.fa.fa-angle-double-right
        .sidebar
          .sidebar__widget
            .card__list.type__ranking
              h3.card_ttl ランキング
              ul.cardlist
                li.cardlist__item
                  a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catename 社員インタビュー
                      h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.cardlist__item
                  a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/AdobeStock_241368275_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catename SHARE CONNECTION
                      h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.cardlist__item
                  a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/AdobeStock_269145039_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catename 社員インタビュー
                      h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.cardlist__item
                  a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/AdobeStock_286227563_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catename 会社近くのおすすめスポット
                      h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.cardlist__item
                  a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/AdobeStock_299368979_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catename 新入社員紹介
                      h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
          .sidebar__widget
            .card__list
              h3.card_ttl おすすめ
              ul.cardlist
                li.cardlist__item
                  a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catename 社員インタビュー
                      h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.cardlist__item
                  a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/AdobeStock_241368275_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catename SHARE CONNECTION
                      h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.cardlist__item
                  a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/AdobeStock_269145039_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catename 社員インタビュー
                      h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.cardlist__item
                  a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/AdobeStock_286227563_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catename 会社近くのおすすめスポット
                      h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.cardlist__item
                  a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/AdobeStock_299368979_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catename 新入社員紹介
                      h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
      include ./_inc/footer
    //end wrapper
    include ./_inc/link_js