//- ----------------------------------------------------------------------------
- var site_name = "TOP"
- var site_url = "https://XXX.jp/"
- var site_domain = "https://XXX.jp/"
//- ----------------------------------------------------------------------------
//- <head>情報
- var head_title = site_name
- var head_meta_viewport = "width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no"
- var head_meta_description = "これはデフォルトのスクリプション"
//- ----------------------------------------------------------------------------
//- <link>
- var head_link_canonical = site_url
- var head_link_prev = ""
- var head_link_next = ""
//- ----------------------------------------------------------------------------
//- Facebook Open Graph
- var head_meta_og_site_name = site_name
- var head_meta_og_url = site_url
- var head_meta_og_title = head_title
- var head_meta_og_description = head_meta_description
- var head_meta_og_type = "article"
- var head_meta_og_image = "https://XXX.jp/asset/img/ogp.png"
- var head_meta_og_image_width = "1200"
- var head_meta_og_image_height = "630"
//- ----------------------------------------------------------------------------
//- Twitter
- var head_meta_twitter_card = "summary_large_image"
- var head_meta_twitter_site = "@twitter_name"
//- ----------------------------------------------------------------------------
//- SNSボタンの中身
- var sns_btn_twitter = ""
- var sns_btn_fb = ""
- var sns_btn_line = ""
//- ページ判定（自由記述）
- var page = "top";

doctype
html(lang="ja")
  head
    include ./_inc/html_head
    include ./_inc/link_css
  body
    #wrapper
      include ./_inc/header
      main#main
        .container
          .rows.rows--first
            .col
              .card__default
                a(href="")
                .ph
                  img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                .txtarea
                  .catname 社員インタビュー
                  h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                  .articles
                    .articles__data 2019/11/11
                    .articles__view 1,000
                    .articles__like 2,800
            .col
              .card__list.type__ranking
                h3.card_ttl ランキング
                ul.cardlist
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 社員インタビュー
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename SHARE CONNECTION
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 社員インタビュー
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 会社近くのおすすめスポット
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 新入社員紹介
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
          .rows.rows--second
            .col
              .card__list
                h3.card_ttl おすすめ
                ul.cardlist
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 社員インタビュー
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename SHARE CONNECTION
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 社員インタビュー
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 会社近くのおすすめスポット
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 新入社員紹介
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
            .col
              ul.panels
                li.panels__item
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.panels__item
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.panels__item
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.panels__item
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.panels__item
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
          .rows.rows--third
            .col
              ul.listmovie.js-listMovie.tab__content.tab
                li.movie__item.tab__item.is_active
                  .ph
                    img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/VmpflEtnBrc?rel=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                    .txtarea
                      .icon_movie
                        img(src="/asset/img/icon_movie.png")
                      h3.article_ttl
                        a(href="") LEADER INTERVIEW 相山大輔（1）
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.movie__item.tab__item
                  .ph
                    img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/VmpflEtnBrc?rel=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                    .txtarea
                      .icon_movie
                        img(src="/asset/img/icon_movie.png")
                      h3.article_ttl
                        a(href="") LEADER INTERVIEW 相山大輔（2）
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.movie__item.tab__item
                  .ph
                    img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/VmpflEtnBrc?rel=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                    .txtarea
                      .icon_movie
                        img(src="/asset/img/icon_movie.png")
                      h3.article_ttl
                        a(href="") LEADER INTERVIEW 相山大輔（3）
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
            .col
              ul.listmovie.tab__head.tab
                li.movie__item.tabs.is_current
                  .icon_movie
                    img(src="/asset/img/icon_movie.png")
                  .ph
                    img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      h3.article_ttl
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.movie__item.tabs
                  .icon_movie
                    img(src="/asset/img/icon_movie.png")
                  .ph
                    img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      h3.article_ttl
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.movie__item.tabs
                  .icon_movie
                    img(src="/asset/img/icon_movie.png")
                  .ph
                    img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      h3.article_ttl
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
          .rows.rows--fourth
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            ul.pagination
              li.prev.disabled
                a(href="#", rel="prev")
                  span.fa.fa-angle-double-left
              li.page.active
                a(href="/") 1
              li.page
                a(href="/?page=2") 2
              li.page
                a(href="/?page=3") 3
              li.page.gap.disabled
                a(href="#", onclick="return false;") …
              li.next_page
                a(href="/?page=2", rel="next")
                  span.fa.fa-angle-double-right

      include ./_inc/footer
    //end wrapper
    include ./_inc/link_js


