//- ----------------------------------------------------------------------------
- var site_name = "TOP（スマホ）"
- var site_url = "https://XXX.jp/"
- var site_domain = "https://XXX.jp/"
//- ----------------------------------------------------------------------------
//- <head>情報
- var head_title = site_name
- var head_meta_viewport = "width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no"
- var head_meta_description = "これはデフォルトのスクリプション"
//- ----------------------------------------------------------------------------
//- <link>
- var head_link_canonical = site_url
- var head_link_prev = ""
- var head_link_next = ""
//- ----------------------------------------------------------------------------
//- Facebook Open Graph
- var head_meta_og_site_name = site_name
- var head_meta_og_url = site_url
- var head_meta_og_title = head_title
- var head_meta_og_description = head_meta_description
- var head_meta_og_type = "article"
- var head_meta_og_image = "https://XXX.jp/asset/img/ogp.png"
- var head_meta_og_image_width = "1200"
- var head_meta_og_image_height = "630"
//- ----------------------------------------------------------------------------
//- Twitter
- var head_meta_twitter_card = "summary_large_image"
- var head_meta_twitter_site = "@twitter_name"
//- ----------------------------------------------------------------------------
//- SNSボタンの中身
- var sns_btn_twitter = ""
- var sns_btn_fb = ""
- var sns_btn_line = ""
//- ページ判定（自由記述）
- var page = "top_sp";

doctype
html(lang="ja")
  head
    include ./_inc/html_head
    include ./_inc/link_css
  body
    #wrapper
      include ./_inc/header_sp
      main#main
        .spcontainer
          #mainSlide.mainslide
            .swiper-container
              .swiper-wrapper
                //ループここから
                .swiper-slide
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                //ループここまで
                .swiper-slide
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                .swiper-slide
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                .swiper-slide
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                .swiper-slide
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
              .swiper-pagination
          .tab
            .tab__head
              ul.tab__list
                li.tab__item.is_current 新着
                li.tab__item ランキング
                li.tab__item おすすめ
            .tab__body
              .tab__content.is_show
                ul.article__list
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_286227563_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_299368979_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_301662117_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_241368275_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_269145039_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_286227563_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_299368979_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_301662117_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_286227563_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_299368979_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_301662117_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_241368275_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_269145039_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_286227563_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_299368979_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/AdobeStock_301662117_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                .button__more
                  a(href="") Read More
              .tab__content
                ul.article__list.type__ranking
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                .button__more
                  a(href="") Read More
              .tab__content
                ul.article__list
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.article__item
                    .card__default
                      a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catname 社員インタビュー
                        h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                .button__more
                  a(href="") Read More
          .mod
            .mod__inner
              h3.mod__hl ピックアップ動画
              .card__default
                .movie
                  iframe(width="560", height="315", src="https://www.youtube.com/embed/VmpflEtnBrc?rel=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                .txtarea
                  .catname 社員インタビュー
                  h2.article_ttl
                    a(href="") 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                  .articles
                    .articles__data 2019/11/11
                    .articles__view 1,000
                    .articles__like 2,800
      include ./_inc/footer_sp
    //end wrapper
    include ./_inc/link_js


