// meta
// GoogleTagManager(Script)
meta(charset="utf-8")
meta(name="viewport", content = head_meta_viewport )
meta(name="description",content= head_meta_description )
title #{head_title}
- if( head_link_canonical != "")
	link(rel="canonical",href= head_link_canonical )
- if( head_link_prev != "" )
	link(rel="prev",href= head_link_prev )
- if( head_link_next != "" )
	link(rel="next",href= head_link_next )
meta(property="og:title",content= head_meta_og_title )
meta(property="og:type",content= head_meta_og_type )
meta(property="og:url",content= site_url )
meta(property="og:image",content= head_meta_og_image )
meta(property="og:image:width",content = head_meta_og_image_width )
meta(property="og:image:height",content = head_meta_og_image_height )
meta(property="og:site_name",content = site_name )
meta(name="twitter:card",content = head_meta_twitter_card )
meta(name="twitter:site",content = head_meta_twitter_site )