link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="/asset/css/application-1.0.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap")
if page == 'top_sp'
  link(rel="stylesheet", href="https://unpkg.com/swiper/css/swiper.min.css")
link(rel="stylesheet", href="/asset/css/style.css")