script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.min.js")
if page == 'top_sp'
  script(src="https://unpkg.com/swiper/js/swiper.min.js")
  script(src="/asset/js/index_sp.min.js")
script(src="/asset/js/index.min.js")