@charset "utf-8";

/* = reset css
----------------------------------------------- */
// HTML5 CSS Reset Minified - Eric Meyer
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
li{list-style:none;}
main{display:block;}
/* = end reset css
----------------------------------------------- */


/* = Commons
----------------------------------------------- */
html {
  font-size: 62.5%;
  @media screen and (max-width: 414px) {
    font-size: calc(100vw / 36);
  }
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  // font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  line-height: 1.6;
  color: #4c4d4e;
  text-rendering: auto;
}
a {
  color: #4c4d4e;
  display: block;
  user-select: none;
	&:hover {
		color: #4c4d4e;
	}
}
img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.shadow {
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
  @media screen and (max-width: 767px) {
    box-shadow: 0px 0px 3px rgba(0,0,0,.1);
  }
}

$theme: #1b5298;
$common_width: 1200px;
$common_min-width: 1000px;

::selection {
	background: #a5c7f3;
}
/* = end commons
----------------------------------------------- */

/* = form reset
----------------------------------------------- */
input, button, textarea, select {
  appearance: none;
}
input:not([type="checkbox"]), button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  outline: none;
  border: 1px solid #aaa;
  appearance: none;
}
// input[type="text"]:focus,
// input[type="email"]:focus,
// input[type="tel"]:focus,
// textarea:focus {
//   box-shadow: 0 0 4px $bg-color-yellow;
//   border: 2px solid $bg-color-yellow;
// }
/* = end form reset
----------------------------------------------- */

/* = web fonts
----------------------------------------------- */
.font_en {
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: .09em;
  font-weight: bold;
}
/* = end web fonts
----------------------------------------------- */



/* = top and articles style
----------------------------------------------- */
#wrapper {
  background: #f1f1f1;
  @media screen and (max-width: 767px) {
    padding-top: 26%;
    overflow: hidden;
  }
}
.header {
  border-top: solid 4px $theme;
  padding: 20px 0 0;
  background: #FFF;
  position: relative;
  z-index: 20;
  &__inner {
    max-width: $common_width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    @media screen and (max-width: 1200px) {
      max-width: initial;
      margin-left: 20px;
      margin-right: 20px;
    }
    @media screen and (max-width: 767px) {
      margin-right: 4%;
      margin-left: 4%;
    }
  }
  &--left {
    width: 21.666%;
    margin: 0 4% 1% 0;
    @media screen and (max-width: 999px) {
      width: 17%;
    }
  }
  &--center {
    flex: 1;
  }
  &--right {
    width: 25%;
    margin: 0 0 1.4% auto;
    @media screen and (max-width: 999px) {
      width: 230px;
    }
  }
  .nav {
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: .09em;
    font-weight: bold;
    font-size: 1.9rem;
    @media screen and (max-width: 999px) {
      font-size: 1.6rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.4rem;
    }
    .navlist {
      display: flex;
      flex-wrap: wrap;
      &__item {
        &:not(:last-child) {
          margin-right: 1.5em;
          @media screen and (max-width: 999px) {
            margin-right: 1em;
          }
        }
        > a {
          padding: 0 0 18%;
          @media screen and (max-width: 999px) {
            padding-bottom: 13%;
          }
        }
        .child {
          width: 100%;
          padding: 1% 0;
          position: absolute;
          left: 0;
          top: 100%;
          z-index: -1;
          background: rgba(27,82,152,.9);
          font-size: 1.4rem;
          transform: translateY(-10px);
          opacity: 0;
          visibility: hidden;
          transition: all .4s ease-in-out;
          a {
            color: #FFF;
            padding: 10px 0;
          }
          &__list {
            width: 900px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
          }
          &__item {
            width: 33.333%;
            text-align: center;
          }
        }
        &:hover {
          .child {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
    }
  }
  .controller {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    .searchinput {
      width: 55%;
      position: relative;
      border: solid 2px #efefef;
      border-radius: 50px;
      @media screen and (max-width: 999px) {
        width: 50%;
      }
    }
    .search {
      input {
        width: 100%;
        box-sizing: border-box;
        font-size: 1.4rem;
        padding: .3em 1.5em;
        border-style: none;
      }
      button {
        position: absolute;
        top: 50%;
        right: .5em;
        padding: .5em;
        z-index: 1;
        transform: translateY(-50%);
      }
    }
  }
  .button {
    &__mypage {
      font-size: 1.4rem;
      font-family: 'Didact Gothic', sans-serif;
      letter-spacing: .09em;
      font-weight: bold;
      margin-left: auto;
      a {
        display: block;
        background: #b9b9b9;
        color: #FFF;
        padding: .5em 1.5em;
        border-radius: 50px;
      }
    }
  }
}
/* スマホヘッダー */
.spheader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  margin-right: 0;
  margin-left: 0;
  &__inner {
    padding: 4%;
    border-top: solid 4px $theme;
    position: relative;
    background: #FFF;
  }
  &--left {
    width: 5.4%;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    z-index: 2;
    .menu_trigger {
      cursor: pointer;
    }
  }
  &--center {
    width: 37%;
    margin: 0 auto;
  }
  &--right {
    width: 15%;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    z-index: 2;
    .controller {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .button {
        &__mypage {
          width: 42%;
          padding: 0 14% 0 0;
        }
        &__search {
          width: 42%;
          padding: 0 0 0 14%;
          cursor: pointer;
        }
      }
    }
  }
  .nav {
    padding: 2% 0 2% 4%;
    border-top: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    font-size: 1.3rem;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: .09em;
    font-weight: bold;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    background: #FFF;
    &list {
      display: flex;
      white-space: nowrap;
      &__item {
        a {
          padding: .3em 0 .3em 0;
          margin-right: 2em;
        }
        &.is_active {
          a {
            position: relative;
            &::after {
              content: '';
              width: 100%;
              height: 2px;
              background: $theme;
              position: absolute;
              left: 0;
              bottom: 0;
              z-index: 1;
            }
          }
        }
        &.is_current {
          a {
            position: relative;
            &::after {
              content: '';
              width: 100%;
              height: 2px;
              background: $theme;
              position: absolute;
              left: 0;
              bottom: 0;
              z-index: 1;
            }
          }
        }
      }
    }
    &content {
      width: 100%;
      position: relative;
      z-index: -1;
      &__list {
        width: 100%;
        background: rgba(27,82,152,.9);
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translateY(-100%);
        transition: all .4s ease-in-out;
        &.is_active {
          transform: translateY(0);
        }
        a {
          padding: 4%;
          color: #FFF;
          border-bottom: solid 1px #FFF;
        }
      }
    }
  }
  .searchinput {
    position: relative;
    &__inner {
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s ease-in-out;
      padding: 4%;
      background: rgba(109,158,220,.9);
      transform: translateY(-100%);
      pointer-events: none;
      &.is_active {
        transform: translateY(0);
        pointer-events: all;
      }
    }
    .search {
      width: 100%;
      position: relative;
      input {
        width: 100%;
        padding: .5em 2.5em .5em 1em;
        font-size: 1.4rem;
        box-sizing: border-box;
        background: #FFF;
        border-style: none;
        border-radius: 4px;
      }
      button {
        font-size: 1.2rem;
        width: 10%;
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 2;
        z-index: 2;
        padding: 2% 0;
        transform: translateY(-50%);
      }
    }
  }
  .sidemenu {
    width: 85%;
    height: 100vh;
    padding-bottom: 80px;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    background: rgba(27,82,152,.9);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .4s ease-in-out;
    transform: translateX(100%);
    &.is_active {
      transform: translateX(0);
    }
    .button {
      &__close {
        padding: 4%;
        text-align: right;
        cursor: pointer;
        border-bottom: solid 1px #FFF;
        img {
          width: 7%;
        }
      }
    }
    &__list {
      font-size: 1.4rem;
      font-family: 'Didact Gothic', sans-serif;
      letter-spacing: .09em;
      font-weight: bold;
      a {
        color: #FFF;
        padding: 4%;
      }
    }
    &__item {
      border-bottom: solid 1px #FFF;
      .child {
        background: rgba(109,158,220,.5);
        &__item {
          &:first-child {
            border-top: solid 1px #FFF;
          }
          &:not(:last-child) {
            border-bottom: solid 1px #FFF;
          }
        }
        &.bg--gray {
          background: rgba(204,204,204,.5);
        }
      }
    }
  }
}
/* スマホヘッダーここまで */
#main {
  display: flex;
  flex-wrap: wrap;
  max-width: $common_width;
  margin: 0 auto;
  padding: 20px 0;
  @media screen and (max-width: 1200px) {
    max-width: initial;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (max-width: 767px) {
    min-width: initial;
    display: block;
    margin-right: 0;
    margin-left: 0;
  }
  .sidebar {
    width: 320px;
    margin-left: 2%;
    @media screen and (max-width: 999px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 4% 0 0;
    }
    @media screen and (max-width: 767px) {
      margin: 4% 4% 0;
      display: block;
    }
    .sidebar__widget {
      margin-bottom: 6%;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 2px 2px 5px rgba(0,0,0,.1);
      @media screen and (max-width: 999px) {
        width: 49%;
      }
      @media screen and (max-width: 767px) {
        width: initial;
        box-shadow: 0px 0px 3px rgba(0,0,0,.1);
      }
    }
  }
  .container {
    flex: 1;
  }
}
.breadcrumb {
  padding: 15px 20px;
  font-size: 1.2rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  background: transparent;
  border-radius: 0;
  @media screen and (max-width: 767px) {
    padding: 2% 0 2% 4%;
    background: $theme;
    font-size: 1.0rem;
  }
  +#main {
    padding-top: 0;
  }
  &__inner {
    max-width: $common_width;

    margin: 0 auto;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
  }
  &__item {
    a {
      @media screen and (max-width: 767px) {
        color: #FFF;
      }
    }
    &:not(:last-child) {
      a {
        padding-right: 1.5em;
        margin-right: .5em;
        position: relative;
        &::after {
          content: '＞';
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
        }
      }
    }
    &.current {
      font-weight: bold;
      color: #4c4d4e;
      a {
        pointer-events: none;
      }
    }
  }
}
.container {
  width: initial !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media screen and (max-width: 767px) {
    padding-left: 4% !important;
    padding-right: 4% !important;
    padding-top: 4% !important;
  }
  .rows {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .col {
      background: #FFF;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 2px 2px 5px rgba(0,0,0,.1);
      @media screen and (max-width: 767px) {
        box-shadow: 0px 0px 3px rgba(0,0,0,.1);
      }
      .panels {
        &__item {
          .txtarea {
            .catename {
              font-size: 1.2rem;
            }
            .article_ttl {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
    &--first {
      .col {
        &:nth-child(1) {
          flex: 1;
        }
        &:nth-child(2) {
          width: 30%;
          margin-left: 20px;
        }
      }
    }
    &--second {
      .col {
        &:nth-child(1) {
          width: 30%;
        }
        &:nth-child(2) {
          overflow: visible;
          background: transparent;
          box-shadow: none;
          flex: 1;
          margin-left: 20px;
          .panels {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__item {
              background: #FFF;
              border-radius: 8px;
              overflow: hidden;
              box-shadow: 2px 2px 5px rgba(0,0,0,.1);
              @media screen and (max-width: 767px) {
                box-shadow: 0px 0px 3px rgba(0,0,0,.1);
              }
              .txtarea {
                padding: 12px;
                .article_ttl {
                  min-height: 2.6em;
                }
              }
              &:nth-child(1) {
                width: 44%;
                margin-bottom: 2%;
                .ph {
                  padding-top: 49.3%;
                }
              }
              &:nth-child(2) {
                width: 26%;
                margin-bottom: 2%;
                .ph {
                  padding-top: 83.3%;
                  img {
                    width: auto;
                    height: 100%;
                  }
                }
              }
              &:nth-child(3) {
                width: 26%;
                margin-bottom: 2%;
                .ph {
                  padding-top: 83.3%;
                  img {
                    width: auto;
                    height: 100%;
                  }
                }
              }
              &:nth-child(4) {
                width: 54%;
                .ph {
                  padding-top: 40.3%;
                }
              }
              &:nth-child(5) {
                width: 44%;
                .ph {
                  padding-top: 49.3%;
                }
              }
            }
          }
        }
      }
    }
    &--third {
      background: #FFF;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 2px 2px 5px rgba(0,0,0,.1);
      @media screen and (max-width: 767px) {
        box-shadow: 0px 0px 3px rgba(0,0,0,.1);
      }
      .movie {
        &__item {
          iframe {
            border-radius: 0 !important;
          }
        }
      }
      .txtarea {
        width: 100%;
        box-sizing: border-box;
        padding: 2%;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        .icon_movie {
          width: 65px;
          pointer-events: none;
        }
        .catname {
          font-size: 1.4rem;
          color: $theme;
          font-weight: bold;
        }
        .article_ttl {
          font-family: 'Didact Gothic', sans-serif;
          letter-spacing: .09em;
          font-weight: bold;
          font-size: 3.3rem;
          line-height: 1.3;
          color: #FFF;
          font-feature-settings: "palt";
          margin-top: .2em;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        .articles {
          display: flex;
          flex-wrap: wrap;
          font-family: 'Didact Gothic', sans-serif;
          letter-spacing: .09em;
          font-weight: bold;
          color: #FFF;
          margin-top: 10px;
          &__data {
            margin-right: 1em;
          }
          &__view {
            padding-left: 1.8em;
            background: url(../img/icon_eye.png) no-repeat left center;
            background-size: 15px auto;
            margin-right: 1em;
          }
          &__like {
            padding-left: 1.6em;
            background: url(../img/icon_heart.png) no-repeat left center;
            background-size: 12px auto;
          }
        }
      }
      .col {
        box-shadow: none;
        border-radius: 0 !important;
        overflow: visible;
        .listmovie {
          .movie__item {
            position: relative;
            >.ph {
              width: 100%;
              padding-top: 56.25%;
              position: relative;
              overflow: hidden;
              cursor: pointer;
              iframe {
                width: 100%;
                height: 100%;
                border-radius: 8px 8px 0 0;
                overflow: hidden;
                position: absolute;
                top: 0%;
                left: 0;
                z-index: 0;
              }
              > img {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                z-index: 1;
              }
            }
            .txtarea {
              transition: all .2s ease-in-out;
              a {
                color: #FFF;
              }
            }
            &.is_hidden {
              .txtarea {
                opacity: 0;
                transform: translateY(5px);
                visibility: hidden;
              }
            }
          }
        }
        .tab {
          &__item {
            display: none;
            &.is_active {
              display: block;
            }
          }
          &s {
            &.is_current {
              opacity: .7;
            }
          }
        }
        &:nth-child(1) {
          width: 75%;
          .listmovie {
            .movie__item {
              position: relative;
              a {
                color: #FFF;
              }
            }
          }
        }
        &:nth-child(2) {
          width: 25%;
          .listmovie {
            .movie__item {
              .icon_movie {
                width: 30px;
                position: absolute;
                top: 4%;
                left: 4%;
                z-index: 11;
                transition: all .2s ease-in-out;
                pointer-events: none;
              }
              &.is_hidden {
                .icon_movie {
                  transform: translateY(-5px);
                  opacity: 0;
                  visibility: hidden;
                }
              }
              .txtarea {
                .article_ttl {
                  font-size: 1.6rem;
                }
                .articles {
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }
    }
    &--fourth {
      justify-content: space-between;
      .card__default {
        box-shadow: 2px 2px 5px rgba(0,0,0,.1);
        @media screen and (max-width: 767px) {
          box-shadow: 0px 0px 3px rgba(0,0,0,.1);
        }
        margin-bottom: 1.4%;
        &:nth-child(1) {
          width: 30.067%;
          .ph {
            padding-top: 49.3%;
          }
        }
        &:nth-child(2) {
          width: 36.9%;
          .ph {
            padding-top: 40.3%;
          }
        }
        &:nth-child(3) {
          width: 30.067%;
          .ph {
            padding-top: 49.3%;
          }
        }
        &:nth-child(4) {
          width: 17.766%;
          .ph {
            padding-top: 83.3%;
            img {
              width: auto;
              height: 100%;
            }
          }
        }
        &:nth-child(5) {
          width: 17.766%;
          .ph {
            padding-top: 83.3%;
            img {
              width: auto;
              height: 100%;
            }
          }
        }
        &:nth-child(6) {
          width: 30.067%;
          .ph {
            padding-top: 49.3%;
          }
        }
        &:nth-child(7) {
          width: 30.067%;
          .ph {
            padding-top: 49.3%;
          }
        }
        &:nth-child(8) {
          width: 30.067%;
          .ph {
            padding-top: 49.3%;
          }
        }
        &:nth-child(9) {
          width: 30.067%;
          .ph {
            padding-top: 49.3%;
          }
        }
        &:nth-child(10) {
          width: 36.9%;
          .ph {
            padding-top: 40.3%;
          }
        }
        .txtarea {
          padding: 12px;
          .catname {
            font-size: 1.2rem;
          }
          .article_ttl {
            font-size: 1.8rem;
            min-height: 2.6em;
          }
        }
      }
    }
  }
  > .card__default {
    margin-bottom: 2%;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    @media screen and (max-width: 767px) {
      box-shadow: 0px 0px 3px rgba(0,0,0,.1);
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 4%;
      .txtarea {
        padding: 4%;
        .catname {
          font-size: 1.1rem;
        }
        .article_ttl {
          font-size: 1.6rem;
          margin-top: .3em;
        }
        .articles {
          margin-top: .5em;
        }
      }
    }
  }
  .archive__ttl {
    font-size: 1.2rem;
    font-weight: bold;
    background: $theme;
    color: #FFF;
    padding: 2% 4%;
    border-radius: 8px;
    margin-bottom: 4%;
  }
  .archivelist {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }
    .card__default {
      width: 32%;
      box-shadow: 2px 2px 5px rgba(0,0,0,.1);
      @media screen and (max-width: 767px) {
        box-shadow: 0px 0px 3px rgba(0,0,0,.1);
      }
      margin-bottom: 2%;
      @media screen and (max-width: 767px) {
        width: 48%;
        margin-bottom: 4%;
      }
      &:not(:nth-child(3n)) {
        margin-right: 2%;
        @media screen and (max-width: 767px) {
          margin-right: 0%;
        }
      }
      .txtarea {
        padding: 10px;
        @media screen and (max-width: 767px) {
          padding: 6%;
        }
        .catname {
          font-size: 1.2rem;
          @media screen and (max-width: 767px) {
            font-size: 1.1rem;
          }
        }
        .article_ttl {
          font-size: 1.8rem;
          @media screen and (max-width: 767px) {
            font-size: 1.4rem;
            margin-top: .3em;
          }
        }
        .articles {
          @media screen and (max-width: 767px) {
            margin-top: .5em;
            line-height: 1.2;
            font-size: .8rem;
            &__data {
              margin-right: .5em;
            }
            &__view {
              margin-right: .5em;
            }
          }
        }
      }
      @media screen and (max-width: 767px) {
        &:nth-child(1),&:nth-child(6) {
          width: 100%;
          .txtarea {
            padding: 4%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .archivelist {
      &.type {
        &__ranking {
          .card__default {
            position: relative;
            counter-increment: order;
            &::before {
              content: counter(order);
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              left: 3%;
              top: 3%;
              z-index: 10;
              font-size: 1.2rem;
              background-color: #1b5298;
              color: #fff;
              font-weight: bold;
            }
            &:nth-child(1) {
              &::before {
                background-color: #cfa972;
              }
            }
            &:nth-child(2) {
              &::before {
                background-color: #a0a0a0;
              }
            }
            &:nth-child(3) {
              &::before {
                background-color: #9b6a34;
              }
            }
          }
        }
      }
    }
  }
}
/* スマホトップ */
.spcontainer {
  .card {
    &__default {
      .txtarea {
        padding: 4%;
        .catname {
          font-size: 1.2rem;
        }
        .article_ttl {
          font-size: 1.6rem;
          margin-top: .4em;
        }
        .articles {
          margin-top: 1em;
        }
      }
    }
  }
  .mainslide {
    margin: 0 4%;
    .swiper {
      &-wrapper {
        border-radius: 8px;
        overflow: visible;
        box-shadow: 2px 2px 5px rgba(0,0,0,.1);
        @media screen and (max-width: 767px) {
          box-shadow: 0px 0px 3px rgba(0,0,0,.1);
        }
      }
      &-container {
        border-radius: 8px;
        overflow: visible;
        padding-bottom: 8%;
      }
      &-pagination {
        &-bullet {
          &-active {
            background: $theme;
          }
        }
      }
    }
    .card__default .txtarea .article_ttl {
      -webkit-line-clamp: 1;
    }
  }
  .tab {
    &__head {
      border-bottom: solid 2px $theme;
    }
    &__list {
      margin: 4% 4% 0;
      display: flex;
      flex-wrap: wrap;
      border-radius: 8px 8px 0 0;
      border-top: solid 2px $theme;
      border-left: solid 2px $theme;
      border-right: solid 2px $theme;
    }
    &__item {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      width: 33.333%;
      box-sizing: border-box;
      padding: 1em 0;
      color: $theme;
      cursor: pointer;
      &:nth-child(2) {
        border-left: solid 1px $theme;
        border-right: solid 1px $theme;
      }
      &.is_current {
        background: $theme;
        color: #FFF;
      }
    }
    &__body {
      position: relative;
    }
    &__content {
      margin: 4%;
      transition: opacity .4s linear;
      opacity: 0;
      pointer-events: none;
      display: none;
      &.is_show {
        opacity: 1;
        pointer-events: all;
        display: block;
      }
      .article {
        &__list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          &.type {
            &__ranking {
              .article__item {
                position: relative;
                counter-increment: order;
                &::before {
                  content: counter(order);
                  position: absolute;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  left: 0;
                  top: 0;
                  transform: translate(-30%,-30%);
                  z-index: 10;
                  font-size: 1.2rem;
                  background-color: #1b5298;
                  color: #fff;
                  font-weight: bold;
                }
                &:nth-child(1) {
                  &::before {
                    background-color: #cfa972;
                  }
                }
                &:nth-child(2) {
                  &::before {
                    background-color: #a0a0a0;
                  }
                }
                &:nth-child(3) {
                  &::before {
                    background-color: #9b6a34;
                  }
                }
              }
            }
          }
        }
        &__item {
          width: 48%;
          box-shadow: 2px 2px 5px rgba(0,0,0,.1);
          background: #FFF;
          @media screen and (max-width: 767px) {
            box-shadow: 0px 0px 3px rgba(0,0,0,.1);
          }
          border-radius: 8px;
          margin-bottom: 4%;
          .card {
            &__default {
              .txtarea {
                padding: 6%;
                .catname {
                  font-size: 1.1rem;
                }
                .article_ttl {
                  font-size: 1.2rem;
                }
                .articles {
                  margin-top: .5em;
                  line-height: 1.2;
                  font-size: .8rem;
                  &__data {
                    margin-right: .5em;
                  }
                  &__view {
                    margin-right: .5em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/* スマホトップここまで */
.button {
  &__more {
    font-size: 1.4rem;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: .09em;
    font-weight: bold;
    width: 60%;
    margin: 6% auto;
    text-align: center;
    a {
      display: block;
      border: solid 2px $theme;
      padding: 1em 0;
      color: $theme;
      position: relative;
      &::after {
        content: '';
        width: 7px;
        height: 13px;
        background: url(../img/arrow_right.png) no-repeat center;
        background-size: auto 100%;
        position: absolute;
        top: 50%;
        right: 6%;
        transform: translateY(-50%);
        z-index: 1;
      }
    }
  }
}
.card {
  &__default {
    border-radius: 8px;
    overflow: hidden;
    background: #FFF;
    position: relative;
    > a {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
    .ph {
      width: 100%;
      padding-top: 50%;
      position: relative;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
      }
    }
    .movie {
      width: 100%;
      padding-top: 56.25%;
      position: relative;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      -webkit-appearance: none;
      z-index: 2;
      iframe {
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        -webkit-appearance: none;
      }
    }
    .txtarea {
      padding: 2%;
      .catname {
        font-size: 1.4rem;
        color: $theme;
        font-weight: bold;
      }
      .article_ttl {
        font-size: 3.3rem;
        font-weight: bold;
        line-height: 1.3;
        font-feature-settings: "palt";
        margin-top: .2em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .articles {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Didact Gothic', sans-serif;
        letter-spacing: .09em;
        font-weight: bold;
        color: #a1a1a1;
        margin-top: 15px;
        &__data {
          margin-right: 1em;
        }
        &__view {
          padding-left: 1.8em;
          background: url(../img/icon_eye.png) no-repeat left center;
          background-size: 15px auto;
          margin-right: 1em;
        }
        &__like {
          padding-left: 1.6em;
          background: url(../img/icon_heart.png) no-repeat left center;
          background-size: 12px auto;
        }
      }
    }
  }
  &__list {
    padding-bottom: 6%;
    background: #FFF;
    .card_ttl {
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center;
      background: $theme;
      padding: 2% 4%;
      color: #FFF;
      margin-bottom: 6%;
    }
    .cardlist {
      &__item {
        margin: 6% 4%;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
        }
        .ph {
          width: 40%;
          padding-top: 25%;
          position: relative;
          overflow: hidden;
          margin-right: 4%;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
          }
        }
        .txtarea {
          flex: 1;
          .catename {
            font-size: 1.2rem;
            color: $theme;
            font-weight: bold;
            font-family: 'Didact Gothic', sans-serif;
            letter-spacing: .09em;
            font-weight: bold;
          }
          .article_ttl {
            margin-top: 4%;
            font-size: 1.3rem;
            font-weight: bold;
            line-height: 1.3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
        .articles {
          margin-top: .5em;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          font-family: 'Didact Gothic', sans-serif;
          letter-spacing: .09em;
          font-weight: bold;
          color: #a1a1a1;
          @media screen and (max-width: 767px) {
            margin-top: 2%;
            font-size: 1.0rem;
            margin-bottom: 3%;
          }
          &__data {
            margin-right: 1em;
          }
          &__view {
            padding-left: 1.8em;
            background: url(../img/icon_eye.png) no-repeat left center;
            background-size: 15px auto;
            margin-right: 1em;
          }
          &__like {
            padding-left: 1.6em;
            background: url(../img/icon_heart.png) no-repeat left center;
            background-size: 12px auto;
          }
        }
      }
    }
    &.type {
      &__ranking {
        .cardlist {
          &__item {
            position: relative;
            counter-increment: order;
            &::before {
              content: counter(order);
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              left: 0;
              top: 0;
              transform: translate(-30%,-30%);
              z-index: 10;
              font-size: 1.2rem;
              background-color: #1b5298;
              color: #fff;
              font-weight: bold;
            }
            &:nth-child(1) {
              &::before {
                background-color: #cfa972;
              }
            }
            &:nth-child(2) {
              &::before {
                background-color: #a0a0a0;
              }
            }
            &:nth-child(3) {
              &::before {
                background-color: #9b6a34;
              }
            }
          }
        }
      }
    }
  }
}
.mod {
  margin: 8% 0;
  padding: 8% 0;
  border-top: solid 3px $theme;
  border-bottom: solid 3px $theme;
  &__inner {
    margin: 0 4%;
  }
  &__hl {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4%;
    color: $theme;
  }
  .card {
    &__default {
      &:not(:last-child) {
        margin-bottom: 4%;
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin: 2% auto;
  font-size: 1.4rem;
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: .09em;
  font-weight: bold;
  @media screen and (max-width: 767px) {
    margin: 4% 0 8%;
  }
  li {
    padding: 5px;
    &.disabled {
      opacity: .5;
      pointer-events: none;
      a {
        box-shadow: none;
      }
    }
    a {
      width: 30px;
      height: 30px;
      border-radius: 50% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s;
      background-color: #fff;
      color: #000;
      box-shadow: 2px 2px 5px rgba(0,0,0,.1);
      @media screen and (max-width: 767px) {
        box-shadow: 0px 0px 3px rgba(0,0,0,.1);
      }
    }
    &.active {
      a {
        background: $theme;
        border-color: $theme;
        color: #FFF;
      }
    }
  }
}
.article {
  font-size: 1.4rem;
  line-height: 1.7;
  background: #FFF;
  padding: 3% 4%;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
  @media screen and (max-width: 767px) {
    box-shadow: 0px 0px 3px rgba(0,0,0,.1);
  }
  @media screen and (max-width: 767px) {
    padding: 5% 4%;
  }
  &__header {
    margin-bottom: 4%;
    .catname {
      font-size: 1.8rem;
      font-family: 'Didact Gothic', sans-serif;
      letter-spacing: .09em;
      font-weight: bold;
      @media screen and (max-width: 767px) {
        font-size: 1.1rem;
      }
      a {
        display: inline-block;
        padding: .1em 1em;
        background: $theme;
        border-radius: 50px;
        color: #FFF;
        @media screen and (max-width: 767px) {
          padding: 0;
          background: transparent;
          color: $theme;
        }
      }
    }
    .catedescription {
      margin-top: 1%;
      font-size: 1.1rem;
      @media screen and (max-width: 767px) {
        font-size: 1.0rem;
      }
    }
    .article__ttl {
      font-family: 'Didact Gothic', sans-serif;
      letter-spacing: .09em;
      font-weight: bold;
      font-size: 3.3rem;
      line-height: 1.3;
      font-feature-settings: "palt";
      margin-top: .7%;
      @media screen and (max-width: 767px) {
        font-size: 1.6rem;
        margin-top: 6%;
      }
    }
    .articles {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-family: 'Didact Gothic', sans-serif;
      letter-spacing: .09em;
      font-weight: bold;
      font-weight: normal;
      margin-top: .7%;
      @media screen and (max-width: 767px) {
        margin-top: 2%;
        font-size: 1.0rem;
        margin-bottom: 3%;
      }
      &__data {
        margin-right: 1em;
      }
      &__view {
        padding-left: 1.8em;
        background: url(../img/icon_eye.png) no-repeat left center;
        background-size: 15px auto;
        margin-right: 1em;
      }
      &__like {
        padding-left: 1.6em;
        background: url(../img/icon_heart.png) no-repeat left center;
        background-size: 12px auto;
      }
    }
  }
  &__visual {
    margin-top: 1%;
    @media screen and (max-width: 767px) {
      margin-top: 4%;
    }
  }
  &__body {
    a {
      display: inline;
    }
    .thumb_box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 2%;
      @media screen and (max-width: 767px) {
        margin-top: 4%;
        font-size: 1.2rem;
        align-items: flex-start;
      }
      .ph {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1em;
        @media screen and (max-width: 767px) {
          width: 60px;
          height: 60px;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
      .txt_box {
        flex: 1;
      }
    }
    h2 {
      font-size: 2.1rem;
      margin-top: 4%;
      @media screen and (max-width: 767px) {
        font-size: 1.6rem;
        margin-top: 6%;
        line-height: 1.4;
      }
    }
    h3 {
      font-size: 1.4rem;
      font-weight: bold;
      margin-top: 4%;
      @media screen and (max-width: 767px) {
        line-height: 1.4;
      }
    }
    .comment_box {
      display: flex;
      flex-wrap: wrap;
      margin-top: 4%;
      .name {
        width: 8%;
        font-weight: bold;
        margin-right: 2%;
        @media screen and (max-width: 767px) {
          width: 15%;
        }
      }
      .txt {
        flex: 1;
      }
    }
    > p {
      margin-top: 2%;
      line-height: 1.9;
      @media screen and (max-width: 767px) {
        margin-top: 4%;
      }
    }
    .img_box {
      margin-top: 2%;
      @media screen and (max-width: 767px) {
        margin-top: 4%;
      }
    }
    .cite {
      font-size: 1.3rem;
      line-height: 1.4;
      color: #999;
      margin-top: 1%;
      @media screen and (max-width: 767px) {
        font-size: 1.0rem;
      }
    }
  }
}
.footer {
  background: #FFF;
  margin-top: 2%;
  padding: 0;
  &__inner {
    max-width: $common_width;
    margin: 0 auto;
    padding: 3% 0 2%;
    @media screen and (max-width: 1200px) {
      max-width: initial;
      margin-left: 20px;
      margin-right: 20px;
    }
    @media screen and (max-width: 767px) {
      margin-right: 4%;
      margin-left: 4%;
    }
  }
  .links {
    display: flex;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: .09em;
    font-weight: bold;
    font-size: 1.2rem;
    a {
      color: #505152;
      &[target="_blank"] {
        &::after {
          display: none;
        }
      }
    }
    &__item {
      margin-right: 6%;
      .child {
        margin-top: 2em;
        line-height: 1.3;
        font-weight: normal;
        &__item {
          margin-bottom: .5em;
        }
      }
    }
    .item {
      &--logo {
        width: 5%;
        margin-right: 6%;
      }
    }
  }
  .copy {
    background: $theme;
    color: #FFF;
    padding: 1% 0;
    text-align: right;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: .09em;
    font-weight: bold;
    font-weight: normal;
    @media screen and (max-width: 767px) {
      padding: 2% 4%;
      font-size: 1.0rem;
    }
    &__inner {
      max-width: $common_width;
      margin: 0 auto;
    }
  }
}
/* スマホフッター */
.pagetop {
  width: 45px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  display: none;
  @media screen and (max-width: 767px) {
    right: 2%;
    bottom: 2%;
  }
}
.spfooter {
  background: #f8f8f8;
  padding: 8% 0 0;
  .ftr {
    &__logo {
      width: 14%;
      margin: 0 auto;
      a {
        &[target="_blank"]::after {
          content: none;
        }
      }
    }
  }
  .copy {
    margin: 8% 0 0;
    background: $theme;
    padding: 2% 4%;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: .09em;
    font-weight: bold;
    font-size: .8rem;
    color: #FFF;
    text-align: center;
  }
}
/* スマホフッターここまで */