
<header class="spheader" id="header">
	<div class="spheader__inner">
		<div class="spheader--left">
			<div class="menu_trigger js-menuOpen"><img src="/asset/img/btn_menu.png" alt="MENU"/></div>
		</div>
		<div class="spheader--center">
			<div class="logo"><a href="/"><img src="/asset/img/logo.png" alt="Sanpen.net"/></a></div>
		</div>
		<div class="spheader--right">
			<div class="controller">
				<div class="button__mypage"><a href="/mypage"><img src="/asset/img/icon_user.png" alt="My page"/></a></div>
				<div class="button__search js-searchToggle"><img src="/asset/img/icon_search.png" alt="検索"/></div>
			</div>
		</div>
	</div>
	<nav class="nav">
		<ul class="navlist js-navList">
			<!-- URL current は .is_current を付与する-->
			<li class="navlist__item"><a href="/">News & Topics</a></li>
			<li class="navlist__item"><a href="/">People</a></li>
			<li class="navlist__item"><a href="/">Column</a></li>
			<li class="navlist__item"><a href="/">Library</a></li>
		</ul>
	</nav>
	<div class="navcontent">
		<ul class="navcontent__list">
			<li class="navcontent__item"><a href="">受注速報</a></li>
			<li class="navcontent__item"><a href="">営業報告</a></li>
			<li class="navcontent__item"><a href="">プロジェクトストーリー</a></li>
			<li class="navcontent__item"><a href="">社内スペシャリスト投票</a></li>
			<li class="navcontent__item"><a href="">セミナー</a></li>
			<li class="navcontent__item"><a href="">管理部からのお知らせ</a></li>
		</ul>
		<ul class="navcontent__list">
			<li class="navcontent__item"><a href="">社員インタビュー</a></li>
			<li class="navcontent__item"><a href="">SHARE CONNECTION</a></li>
			<li class="navcontent__item"><a href="">新入社員紹介</a></li>
		</ul>
		<ul class="navcontent__list">
			<li class="navcontent__item"><a href="">社内報おすすめコーナー紹介</a></li>
			<li class="navcontent__item"><a href="">はた研よ大志を抱け！</a></li>
			<li class="navcontent__item"><a href="">会社近くのおすすめスポット</a></li>
			<li class="navcontent__item"><a href="">巣鴨食べログ</a></li>
		</ul>
		<ul class="navcontent__list">
			<li class="navcontent__item"><a href="">バックナンバー</a></li>
			<li class="navcontent__item"><a href="">広報部発行資料</a></li>
		</ul>
	</div>
	<div class="searchinput">
		<div class="searchinput__inner js-searchInput">
			<form class="search" action="/search" role="search">
				<input type="text" placeholder="記事を検索" name="q" value=""/>
				<button type="submit"><span class="fa fa-search text-muted"></span></button>
			</form>
		</div>
	</div>
	<div class="sidemenu js-sidemenu">
		<div class="siedmenu__inner">
			<div class="button__close js-menuClose"><img src="/asset/img/btn_close.png" alt="閉じる"/></div>
			<ul class="sidemenu__list">
				<li class="sidemenu__item"><a href="">News & Topics</a>
					<ul class="child bg--gray">
						<li class="child__item"><a href="">受注速報</a></li>
						<li class="child__item"><a href="">営業報告</a></li>
						<li class="child__item"><a href="">プロジェクトストーリー</a></li>
						<li class="child__item"><a href="">社内スペシャリスト投票</a></li>
						<li class="child__item"><a href="">セミナー</a></li>
						<li class="child__item"><a href="">管理部からのお知らせ</a></li>
					</ul>
				</li>
				<li class="sidemenu__item"><a href="">People</a>
					<ul class="child">
						<li class="child__item"><a href="">社員インタビュー</a></li>
						<li class="child__item"><a href="">SHARE CONNECTION</a></li>
						<li class="child__item"><a href="">新入社員紹介</a></li>
					</ul>
				</li>
				<li class="sidemenu__item"><a href="">Column</a>
					<ul class="child">
						<li class="child__item"><a href="">社内報おすすめコーナー紹介</a></li>
						<li class="child__item"><a href="">はた研よ大志を抱け！</a></li>
						<li class="child__item"><a href="">会社近くのおすすめスポット</a></li>
						<li class="child__item"><a href="">巣鴨食べログ</a></li>
					</ul>
				</li>
				<li class="sidemenu__item"><a href="">Library</a>
					<ul class="child">
						<li class="child__item"><a href="">バックナンバー</a></li>
						<li class="child__item"><a href="">広報部発行資料</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>