
<header class="header" id="header">
	<div class="header__inner">
		<div class="header--left">
			<div class="logo"><a href="/"><img src="/asset/img/logo.png" alt="Sanpen.net"/></a></div>
		</div>
		<div class="header--center">
			<nav class="nav">
				<ul class="navlist">
					<li class="navlist__item"><a href="/">News & Topics</a>
						<div class="child">
							<ul class="child__list">
								<li class="child__item"><a href="">受注速報</a></li>
								<li class="child__item"><a href="">営業報告</a></li>
								<li class="child__item"><a href="">プロジェクトストーリー</a></li>
								<li class="child__item"><a href="">社内スペシャリスト投票</a></li>
								<li class="child__item"><a href="">セミナー</a></li>
								<li class="child__item"><a href="">管理部からのお知らせ</a></li>
							</ul>
						</div>
					</li>
					<li class="navlist__item"><a href="/">People</a>
						<div class="child">
							<ul class="child__list">
								<li class="child__item"><a href="">社員インタビュー</a></li>
								<li class="child__item"><a href="">SHARE CONNECTION</a></li>
								<li class="child__item"><a href="">新入社員紹介</a></li>
							</ul>
						</div>
					</li>
					<li class="navlist__item"><a href="/">Column</a>
						<div class="child">
							<ul class="child__list">
								<li class="child__item"><a href="">社内報おすすめコーナー紹介</a></li>
								<li class="child__item"><a href="">はた研よ大志を抱け！</a></li>
								<li class="child__item"><a href="">会社近くのおすすめスポット</a></li>
								<li class="child__item"><a href="">巣鴨食べログ</a></li>
							</ul>
						</div>
					</li>
					<li class="navlist__item"><a href="/">Library</a>
						<div class="child">
							<ul class="child__list">
								<li class="child__item"><a href="">バックナンバー</a></li>
								<li class="child__item"><a href="">広報部発行資料</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header--right">
			<div class="controller">
				<div class="searchinput">
					<form class="search" action="/search" role="search">
						<input type="text" placeholder="記事を検索" name="q" value=""/>
						<button type="submit"><span class="fa fa-search text-muted"></span></button>
					</form>
				</div>
				<div class="button__mypage"><a href="/mypage">My Page</a></div>
			</div>
		</div>
	</div>
</header>